<footer class="footer">
  <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSe95E8Yo1QkBZqc2MH077CT52ppt-W6jIvsKDJhJcBZos17NQ/viewform?embedded=true" width="350" height="550" frameborder="0" marginheight="0" marginwidth="0">Загрузка…</iframe>
  <p>
    &copy; 2020 Designed & Developed by
    <a class="highlight-link" href="https://industriapro.com" target="_blank" rel="noreferrer">
      industriapro.com
    </a>
  </p>
  <p>
    Разработан и работает на
    <a class="highlight-link" href="https://pages.github.com/" target="_blank" rel="noreferrer">
      Github Pages
    </a>
  </p>
</footer>

<!-- Google Analytics -->
{% if site.google-analytics %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-175018210-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-175018210-1');
</script>

{% endif %}
